<section id="author-<%= @author.id %>">
<h2><%= @author.name %></h2>
<p>Book(s) Written:</p>
<ul>
<% @author.books.each do |book| %>
  <li><%= book.title %></li>
<% end %>
</ul>
<p>Average Number of Pages: <%= @author.average_pages %></p>
</section>
